keys/kafka.keystore.p12
keys/kafka.truststore.jks

.idea/
.classpath
.project
.settings/
.vscode/

*.iml

target/

.DS_Store
**/dev.properties
**/uat.properties
**/kafka.properties

**/resources/platform
.flattened-pom.xml

